* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homeColor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: crimson; */
  gap: 20px;
}
.cards {
  margin-top: 106px;
  background-color: #e6e9ec;
  /* height: 429px; */
  width: 380px;
  position: relative;
}
.textCard {
  padding-left: 20px;
  padding-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat";
  color: #0d263b;
}
.cardText {
  padding-left: 20px;
  padding-top: 4px;
  color: #696969;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Montserrat";
}
